RewriteEngine on
#if this call related to adminstrators or non rewrite folders, you can add more here.
RewriteCond %{REQUEST_URI} ^/(.*(CFIDE|cfide|CFFormGateway|jrunscripts|railo-context|lucee|mapping-tag|fckeditor)).*$
RewriteRule ^(.*)$ - [NC,L]

#Images, css, javascript and docs, add your own extensions if needed.
RewriteCond %{REQUEST_URI} \.(bmp|gif|jpe?g|png|css|js|txt|xls|ico|swf)$
RewriteRule ^(.*)$ - [NC,L]

RewriteRule ^$ index.cfm [QSA,NS]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^([^/]*)$ index.cfm?bundle=$1
RewriteRule ^([^/]*)/$ index.cfm?bundle=$1

RewriteRule ^([^/]*)/([^/]*)$ index.cfm?bundle=$1&event=$2
RewriteRule ^([^/]*)/([^/]*)/$ index.cfm?bundle=$1&event=$2

RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ index.cfm?bundle=$1&event=$2&action=$3
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ index.cfm?bundle=$1&event=$2&action=$3


